{% extends "account/base.html" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}

<div class="row">
    <div class="span8 offset4">
    
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
        <div class="alert-message warning fade in" data-alert="alert">
            <a class="close" href="#">×</a>
            <p><strong>{% trans "Note" %}</strong>: {% user_display user as user_display %}{% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
        </div>
    {% endif %}


    	<div class="alert-message warning fade in" data-alert="alert">
            <a class="close" href="#">×</a>
            <p><strong>{% trans "Note" %}</strong>: {% user_display user as user_display %}{% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
        </div>
    
    <p>{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>

    </div>
</div>

{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}css/bootstrap/js/bootstrap-alerts.js"></script>
    <script>
        $(".alert-message").alert()
    </script>
{% endblock %}
