{% extends "base.html" %}

{% load i18n %}

{% load map_tags %}

{% block head_title %}{% blocktrans %}Welcome!{% endblocktrans %}{% endblock %}

{% block extra_head_js %}
{% endblock %}

{% block body %}
<div class="map_container"><div id="map" class="map16"></div></div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">

    $(document).ready(function(){

    // media url
    flt.static_url = '{{ STATIC_URL }}';

    // basemap
    flt.createBasemap('map');

    // zoom and center
    flt.map.setOptions({
        zoom: 11,
        center: new google.maps.LatLng(9.980516,-84.163063)
    });

    // add boundaries
    
    {% if polys %}
	{% if polys and user.is_authenticated %}
	    {% for poly in polys.congregations %}
	    flt.createPoly({
		'points': '{{ poly.encoded.points|fixbackslash }}',
		'levels': '{{ poly.encoded.levels }}',
		'zoomFactor': {{ poly.encoded.zoomFactor }},
		'numLevels': {{ poly.encoded.numLevels }}
	    })
	    {% endfor %}
	{% endif %}
	
	{% for poly in polys.territories %}
	    flt.createPoly({
		'points': '{{ poly.encoded.points|fixbackslash }}',
		'levels': '{{ poly.encoded.levels }}',
		'zoomFactor': {{ poly.encoded.zoomFactor }},
		'numLevels': {{ poly.encoded.numLevels }}
	    })
	{% endfor %}
    {% endif %}
    
    
    // add en markers
    {% for enpt in enpts %}
	flt.createEnMarker({
		'title': '{{ enpt.title }}',
		'lat': {{ enpt.point.x }},
		'lon': {{ enpt.point.y }},
	});
    {% endfor %}
		
});

</script>
{% endblock %}