{% extends "registration/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

<h2>Log In</h2>
<p>Please enter your username and password.
	<a  href="/accounts/register/">Register</a> if you don't have an account.
</p>


<div class="accountInfo">
	{% if form.errors %}
		<p class="failureNotification">Please correct the errors below:</p> 
		{{ form.non_field_errors }}
	{% endif %}
	<form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
	    <fieldset class="login">
	        <legend>Account Information</legend>
	        <p>
	            <label for="id_username">Username:</label>
	           	{% if form.username.errors %} <p class="failureNotification">{{ form.username.errors.as_text }}</p>{% endif %}
	            {{ form.username }}
	        </p>
	
	        <p>
	            <label for="id_password">Password:</label>
	           	{% if form.password.errors %} <p class="failureNotification">{{ form.password.errors.as_text }}</p>{% endif %}
	            {{ form.password }}
	        </p>
	    </fieldset>
	    <p class="submitButton">
	        <input type="submit" value="Log In"/>
	    </p>
	</form>
</div>

{% endblock %}

{% block content-related %}
<p>If you don't have an account, you can <a href="/accounts/register/">sign
up</a> for one.
{% endblock %}