<div id="markdown_modal" class="modal hide fade" style="display: block;">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3>Text formatting cheat sheet</h3>
	</div>
	<div class="modal-body">
		<p>Use the markup syntax below to format your description.</p>
		<h4>Format text</h4>
		<p>*italic*<br>
		**bold**</p>
		
		<h4>Lists</h4>
		<p>* Red<br>
		* Green<br>
		* Blue</p>
		
		<h4>Links</h4> 
		<p>[link text](http://www.url.com/ "link title")</p>
		
		<h4>Blockquotes</h4>
		<p>&gt; This is a blockquote</p>
	</div>
	<div class="modal-footer">
        <a href="#" class="btn primary">ok</a>
    </div>
</div>

