{% extends "site_base.html" %}

{% load i18n %}

{% load participation_tags %}
{% load comments %}
{% load account_tags %}

{% block head_title %}Idea #{{ idea.id }}{% endblock %}

{% if idea.geometry or idea.station %}
{% block extra_head_js %}{% include "_map_scripts.html" %}{% endblock %}
{% endif %}

{% block body %}

<div class="row">
	<div class="span-two-thirds">
		<h2>Idea</h2>

		{{ idea.desc_as_html }}

		<div class="meta">Shared by <a class="author" href="{{ idea.author.get_absolute_url }}">{% firstof idea.author.get_profile.name data.author.username %}</a> on <span class="timestamp">{{ idea.last_modified|date:"F jS Y" }}</span></div>
		
		<div id="rating-container">
			<div id="rating-title">Rating:</div><span id="rating"></span>
			<div><span class="help-block">
			{% if user.is_authenticated %}
				Hover and click to submit your rating.
			{% else %}
				{% url acct_login as acct_login_url %}
		    	{% url acct_signup as acct_signup_url %}
				{% blocktrans with request.path as request_path %}Please <a href="{{ acct_login_url }}?next={{ request_path }}">Log in</a> or <a href="{{ acct_signup_url }}">Sign Up</a> to submit your rating.{% endblocktrans %}
			{% endif %}
			</span></div>
		</div>
		
		{% get_comment_count for idea as comment_count %}
		{% if comment_count > 0 %}
			{% render_comment_list for idea %}
			<h4>Post a new comment:</h4>
		{% else %}
			<ul class="comments unstyled"></ul>
			<h4>Be the first to post a comment:</h4>	
		{% endif %}
		{% render_comment_form for idea %}
	</div>
	<div class="span-one-third">
		{% if idea.geometry or idea.station %}<div class="map_container"><div id="map" class="maponethird"></div></div>{% endif %}
		{% if idea.station or idea.theme %}<h5>This Idea relates to:</h5>{% endif %}
		{% if idea.station %}<div>Station Area: <a href="{{ idea.station.get_absolute_url }}">{{ idea.station.name }}</a></div>{% endif %}
		{% if idea.theme %}<div>Theme: <a href="{{ idea.theme.get_absolute_url }}">{{ idea.theme.title }}</a></div>{% endif %}
	</div>
</div>

{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}css/bootstrap/js/bootstrap-twipsy.js"></script>
<script src="{{ STATIC_URL }}js/jquery.raty.min.js"type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/utils.js" type="text/javascript"></script>
{% if idea.geometry or idea.station %}
<script type="text/javascript">
		
	$(document).ready(function(){
		
		// media url
		greenline.static_url = '{{ STATIC_URL }}';
		
		// basemap
		greenline.createBasemap('map');
		
		{% if idea.geometry %}
		var idea_ll = new google.maps.LatLng({{ idea.geometry.y }},{{ idea.geometry.x }});
		var idea = new google.maps.Marker({
			position: idea_ll, 
			map: greenline.map,
			title: "Idea Location",
			shadow: greenline.icons['shadow'],
			icon: greenline.icons['i'],
			zIndex: 1
		});
		{% endif %}
		
		// add station marker
		{% if idea.station %}
		greenline.createStationMarker({
			'title': '{{ idea.station.name }}',
			'lat': {{ idea.station.geometry.y }},
			'lon': {{ idea.station.geometry.x }},
			'desc': '{{ idea.station.desc|truncatewords:30 }}',
			'url': '{{ idea.station.get_absolute_url }}'
		});
		{% endif %}
		// add greenline
		{% for line in lines %}
		greenline.createGreenline({
			'points': '{{ line.encoded.points|fixbackslash }}',
			'levels': '{{ line.encoded.levels }}',
			'zoomFactor': {{ line.encoded.zoomFactor }},
			'numLevels': {{ line.encoded.numLevels }}
		})
		{% endfor %}
		
		// zoom and center
		greenline.map.setOptions({
			zoom: 15,
			center: {% if idea.geometry %}idea_ll{% else %}new google.maps.LatLng({{ idea.station.geometry.y }},{{ idea.station.geometry.x }}){% endif %}
		});
		
		// init_rating parameters: (start_score, readonly img_path, item_id)
		var readonly = {% if user.is_authenticated %}false{% else %}true{% endif %};
		init_rating({{ rating|default:"0" }}, readonly, '{{ STATIC_URL }}/img', {{ idea.id }});

		// tooltip
		$(".rating").twipsy();

		// fix textarea with FIXME: add  textarea class in uni_form template
		$("textarea").addClass('xxlarge');
	});
</script>
{% endif %}
{% endblock %}
