{% extends "site_base.html" %}

{% load i18n %}

{% load participation_tags %}
{% load comments %}
{% load account_tags %}

{% block head_title %}News Article #{{ newsarticle.id }}{% endblock %}

{% if newsarticle.geometry or newsarticle.station %}
{% block extra_head_js %}{% include "_map_scripts.html" %}{% endblock %}
{% endif %}

{% block body %}
<div class="row">
	<div class="span-two-thirds">
		<h2>News Article</h2>

		{{ newsarticle.desc_as_html }}

		{% if newsarticle.url %}<a href="{{ newsarticle.url }}">Read full article</a></li>{% endif %}
		<div class="meta">Shared by <a class="author" href="{{ newsarticle.author.get_absolute_url }}">{% firstof newsarticle.author.get_profile.name newsarticle.author.username %}</a> on <span class="timestamp">{{ newsarticle.last_modified|date:"F jS Y" }}</span></div>
		
		<div id="rating-container">
			<div id="rating-title">Rating:</div><span id="rating"></span>
			<div><span class="help-block">
			{% if user.is_authenticated %}
				Hover and click to submit your rating.
			{% else %}
				{% url acct_login as acct_login_url %}
		    	{% url acct_signup as acct_signup_url %}
				{% blocktrans with request.path as request_path %}Please <a href="{{ acct_login_url }}?next={{ request_path }}">Log in</a> or <a href="{{ acct_signup_url }}">Sign Up</a> to submit your rating.{% endblocktrans %}
			{% endif %}
			</span></div>
		</div>

		{% get_comment_count for newsarticle as comment_count %}
		{% if comment_count > 0 %}
			{% render_comment_list for newsarticle %}
			<h4>Post a new comment:</h4>
		{% else %}
			<ul class="comments unstyled"></ul>
			<h4>Be the first to post a comment:</h4>	
		{% endif %}
		{% render_comment_form for newsarticle %}
		
	</div>

	<div class="span-one-third">
		{% if newsarticle.geometry or newsarticle.station %}<div class="map_container"><div id="map" class="maponethird"></div></div>{% endif %}
		{% if newsarticle.station or newsarticle.theme %}<h5>This News Article relates to</h5>{% endif %}
		{% if newsarticle.station %}<div>Station Area: <a href="{{ newsarticle.station.get_absolute_url }}">{{ newsarticle.station.name }}</a></div>{% endif %}
		{% if newsarticle.theme %}<div>Theme: <a href="{{ newsarticle.theme.get_absolute_url }}">{{ newsarticle.theme.title }}</a></div>{% endif %}
	</div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}css/bootstrap/js/bootstrap-twipsy.js"></script>
<script src="{{ STATIC_URL }}js/jquery.raty.min.js"type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/utils.js" type="text/javascript"></script>
{% if newsarticle.geometry or newsarticle.station %}
<script type="text/javascript">
		
	$(document).ready(function(){
		
		// media url
		greenline.static_url = '{{ STATIC_URL }}';
		
		// basemap
		greenline.createBasemap('map');
		
		{% if newsarticle.geometry %}
		var newsarticle_ll = new google.maps.LatLng({{ newsarticle.geometry.y }},{{ newsarticle.geometry.x }});
		var newsarticle = new google.maps.Marker({
			position: newsarticle_ll, 
			map: greenline.map,
			title: "News Article Location",
			shadow: greenline.icons['shadow'],
			icon: greenline.icons['n'],
			zIndex: 1
		});
		{% endif %}
		
		// add station marker
		{% if newsarticle.station %}
		greenline.createStationMarker({
			'title': '{{ newsarticle.station.name }}',
			'lat': {{ newsarticle.station.geometry.y }},
			'lon': {{ newsarticle.station.geometry.x }},
			'desc': '{{ newsarticle.station.desc|truncatewords:30 }}',
			'url': '{{ newsarticle.station.get_absolute_url }}'
		});
		{% endif %}
		// add greenline
		{% for line in lines %}
		greenline.createGreenline({
			'points': '{{ line.encoded.points|fixbackslash }}',
			'levels': '{{ line.encoded.levels }}',
			'zoomFactor': {{ line.encoded.zoomFactor }},
			'numLevels': {{ line.encoded.numLevels }}
		})
		{% endfor %}
		
		// zoom and center
		greenline.map.setOptions({
			zoom: 15,
			center: {% if newsarticle.geometry %}newsarticle_ll{% else %}new google.maps.LatLng({{ newsarticle.station.geometry.y }},{{ newsarticle.station.geometry.x }}){% endif %}
		});

		// init_rating parameters: (start_score, readonly img_path, item_id)
		var readonly = {% if user.is_authenticated %}false{% else %}true{% endif %};
		init_rating({{ rating|default:"0" }}, readonly, '{{ STATIC_URL }}/img', {{ newsarticle.id }});

		// tooltip
		$(".rating").twipsy();

		// fix textarea with FIXME: add  textarea class in uni_form template
		$("textarea").addClass('xxlarge');
	});

</script>
{% endif %}
{% endblock %}
