body {
	padding-top: 60px;
}

/* Topbar */

.topbar .logo {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

/* Hero */

.hero-unit {
	min-height: 235px;
}

.hero_media {
	float: right;
	margin-left: 20px; 
}

li.sm_icon {
	display: inline;
}

/* Map */

.map_container {
	padding: 4px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

#map {
	width: 100%;
}

.map10, .map16 {
	height: 540px;
}

.map7 {
	height: 400px;
}

.maponethird {
	height: 300px;	
}

#map-tools {
	margin-top: 10px;
}

#map-search {
	text-align: right; 
}

#explore-map-container {
	text-align: right;
	padding-top: 4px;
}

.infobubble .title {
	font-weight: bold;
}

.map_filter {
	margin-top: 10px;
}

/* Activity Stream */

#activity-stream-header {
	margin-bottom: 10px;
}

#activity-stream {

}

.activity_item {
	text-indent:-10px;
	padding-left: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.activity_item .thumbnail img {
	float: right;
	padding: 4px;
	padding-left: 14px;
}

.activity_item a.thumbnail {
  float: right;
  margin-left: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.activity_item a.thumbnail:hover {
  border-color: #4f7b41;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.meta {
	color: #B4B4B4;
	font-size: 90%;
}

/* Comments and Ratings */

#rating-container {
	margin-top: 30px;
	margin-bottom: 10px;
}

#rating-title {
	margin-right: 10px;
	margin-top: -1px;
	float: left;
	font-size: 18px;
	font-weight: bold;
}

#commentFormSubmit {
	margin-top: 10px;
}

ul.comments {
	margin-top: 10px;
}

ul.comments li {
	text-indent: -10px;
	padding-left: 10px;
	margin-bottom: 10px;
}

ul.comments li .meta {
	padding-left: 10px;
}

/* Footer */  

footer > p {
	float: right;
}

#footermenu li {
	display: inline;
	margin-right: 10px;
}

/* Google Translate overrides */

#google_translate_element {
	text-align: center;
}

/* Bootstrap overrides */

a {
    color: #4f7b41;
}

a:hover {
  color: #35542C;
}

.btn.primary {
  color: #ffffff;
  background-color: #4f7b41;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#35542C), to(#4f7b41));
  background-image: -moz-linear-gradient(top, #35542C, #4f7b41);
  background-image: -ms-linear-gradient(top, #35542C, #4f7b41);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #35542C), color-stop(100%, #4f7b41));
  background-image: -webkit-linear-gradient(top, #35542C, #4f7b41);
  background-image: -o-linear-gradient(top, #35542C, #4f7b41);
  background-image: linear-gradient(top, #35542C, #4f7b41);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35542C', endColorstr='#4f7b41', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #4f7b41 #4f7b41 #35542C;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.topbar-inner, .topbar .fill {
	background-color: #4f7b41;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#35542C), to(#4f7b41));
	background-image: -moz-linear-gradient(top, #35542C, #4f7b41);
	background-image: -ms-linear-gradient(top, #35542C, #4f7b41);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #35542C), color-stop(100%, #4f7b41));
	background-image: -webkit-linear-gradient(top, #35542C, #4f7b41);
	background-image: -o-linear-gradient(top, #35542C, #4f7b41);
	background-image: linear-gradient(top, #35542C, #4f7b41);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35542C', endColorstr='#4f7b41', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.topbar div > ul .menu-dropdown,
.nav .menu-dropdown,
.topbar div > ul .dropdown-menu,
.nav .dropdown-menu {
	background-color: #4f7b41;
}

.topbar div > ul .menu-dropdown li a, .nav .menu-dropdown li a, .topbar div > ul .dropdown-menu li a, .nav .dropdown-menu li a {
color: #fff;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.topbar div > ul .menu-dropdown li a:hover,
.nav .menu-dropdown li a:hover,
.topbar div > ul .dropdown-menu li a:hover,
.nav .dropdown-menu li a:hover {
  background-color: #35542C;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#466E3A), to(#3D6132));
  background-image: -moz-linear-gradient(top, #466E3A, #3D6132);
  background-image: -ms-linear-gradient(top, #466E3A, #3D6132);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #466E3A), color-stop(100%, #3D6132));
  background-image: -webkit-linear-gradient(top, #466E3A, #3D6132);
  background-image: -o-linear-gradient(top, #466E3A, #3D6132);
  background-image: linear-gradient(top, #466E3A, #3D6132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#466E3A', endColorstr='#3D6132', GradientType=0);
  color: #ffffff;
}

.topbar .nav a {
	color: #fff;
}

.topbar .secondary-nav a {
	color: #d9d9d9;
}

.pagination a:hover, .pagination .active a {
    background-color: #B7D3AD;
}
