/* line 1, google_menu_live.sass */
#gb {
  font: 13px/27px Arial, sans-serif;
  height: 30px;
}

/* line 5, google_menu_live.sass */
#gbz, #gbg {
  position: absolute;
  white-space: nowrap;
  top: 0;
  height: 30px;
  z-index: 1000;
}

/* line 12, google_menu_live.sass */
#gbz {
  left: 0;
  padding-left: 4px;
}

/* line 16, google_menu_live.sass */
#gbg {
  right: 0;
  padding-right: 5px;
}

/* line 20, google_menu_live.sass */
#gbs {
  background: transparent;
  position: absolute;
  top: -999px;
  visibility: hidden;
  z-index: 998;
}

/* line 27, google_menu_live.sass */
.gbto #gbs {
  background-color: white;
}

/* line 30, google_menu_live.sass */
#gbx3, #gbx4 {
  background-color: #2d2d2d;
  background-image: none;
  _background-image: none;
  background-position: 0 -138px;
  background-repeat: repeat-x;
  border-bottom: 1px solid black;
  font-size: 24px;
  height: 29px;
  _height: 30px;
  opacity: 1;
  filter: alpha(opacity=100);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 990;
}

/* line 47, google_menu_live.sass */
#gbx3 {
  left: 0;
}

/* line 50, google_menu_live.sass */
#gbx4 {
  right: 0;
}

/* line 53, google_menu_live.sass */
#gbb {
  position: relative;
}

/* line 56, google_menu_live.sass */
#gbbw {
  right: 0;
  left: 0;
  position: absolute;
  top: 30px;
  width: 100%;
}

/* line 63, google_menu_live.sass */
.gbtcb {
  position: absolute;
  visibility: hidden;
}

/* line 67, google_menu_live.sass */
#gbz .gbtcb {
  right: 0;
}

/* line 70, google_menu_live.sass */
#gbg .gbtcb {
  left: 0;
}

/* line 73, google_menu_live.sass */
.gbxx {
  display: none !important;
}

/* line 76, google_menu_live.sass */
.gbm {
  position: absolute;
  z-index: 999;
  top: -999px;
  visibility: hidden;
  text-align: left;
  border: 1px solid #bebebe;
  background: white;
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* line 88, google_menu_live.sass */
.gbrtl .gbm {
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 92, google_menu_live.sass */
.gbto .gbm, .gbto #gbs {
  top: 29px;
  visibility: visible;
}

/* line 97, google_menu_live.sass */
#gbz .gbm, #gbz #gbs {
  left: 0;
}

/* line 101, google_menu_live.sass */
#gbg .gbm, #gbg #gbs {
  right: 0;
}

/* line 104, google_menu_live.sass */
.gbxms {
  background-color: #cccccc;
  display: block;
  position: absolute;
  z-index: 1;
  top: -1px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  opacity: 0.4;
  -moz-border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=5);
  *opacity: 1;
  *top: -2px;
  *left: -5px;
  *right: 5px;
  *bottom: 4px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelradius=5)";
  opacity: 1;
  top: -4px;
  left: -6px;
  right: 5px;
  bottom: 4px;
}

/* line 128, google_menu_live.sass */
.gbma {
  position: relative;
  top: -1px;
  border-style: solid dashed dashed;
  border-color: transparent;
  border-top-color: silver;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 0;
  border-width: 3px 3px 0;
  padding-top: 1px;
  left: 4px;
}

/* line 144, google_menu_live.sass */
#gbztms1, #gbi4m1, #gbi4s, #gbi4t {
  zoom: 1;
}

/* line 147, google_menu_live.sass */
.gbtc, .gbmc, .gbmcc {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 153, google_menu_live.sass */
.gbmc {
  background: white;
  padding: 10px 0;
  position: relative;
  z-index: 2;
  zoom: 1;
}

/* line 160, google_menu_live.sass */
.gbt {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  line-height: 27px;
  padding: 0;
  vertical-align: top;
  *display: inline;
}

/* line 169, google_menu_live.sass */
.gbto {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* line 174, google_menu_live.sass */
.gbzt, .gbgt {
  cursor: pointer;
  display: block;
  text-decoration: none !important;
}

/* line 179, google_menu_live.sass */
.gbts {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  display: block;
  *display: inline-block;
  padding: 0 5px;
  position: relative;
  z-index: 1000;
  *display: inline;
}

/* line 189, google_menu_live.sass */
.gbto .gbts {
  background: white;
  border-color: #bebebe;
  color: #3366cc;
  padding-bottom: 1px;
  padding-top: 2px;
}

/* line 196, google_menu_live.sass */
.gbz0l .gbts {
  color: white;
  font-weight: bold;
}

/* line 200, google_menu_live.sass */
.gbtsa {
  padding-right: 9px;
}

/* line 204, google_menu_live.sass */
#gbz .gbzt, #gbz .gbgt {
  color: #cccccc !important;
}

/* line 207, google_menu_live.sass */
#gbg .gbgt {
  color: #cccccc !important;
}

/* line 210, google_menu_live.sass */
.gbtb2 {
  display: block;
  border-top: 2px solid transparent;
}

/* line 215, google_menu_live.sass */
.gbto .gbzt .gbtb2, .gbto .gbgt .gbtb2 {
  border-top-width: 0;
}

/* line 218, google_menu_live.sass */
.gbtb .gbts {
  background: url(//ssl.gstatic.com/gb/images/h_bedf916a.png);
  _background: url(//ssl.gstatic.com/gb/images/h8_3dd87cd8.png);
  background-position: -27px -22px;
  border: 0;
  font-size: 0;
  padding: 29px 0 0;
  *padding: 27px 0 0;
  width: 1px;
}

/* line 228, google_menu_live.sass */
.gbzt-hvr, .gbzt:focus, .gbgt-hvr, .gbgt:focus {
  background-color: #4c4c4c;
  background-image: none;
  _background-image: none;
  background-position: 0 -102px;
  background-repeat: repeat-x;
  outline: none;
  text-decoration: none !important;
}

/* line 237, google_menu_live.sass */
.gbpdjs .gbto .gbm {
  min-width: 99%;
}

/* line 240, google_menu_live.sass */
.gbz0l .gbtb2 {
  border-top-color: #dd4b39 !important;
}

/* line 243, google_menu_live.sass */
#gbi4s, #gbi4s1 {
  font-weight: bold;
}

/* line 247, google_menu_live.sass */
#gbg6.gbgt-hvr, #gbg6.gbgt:focus {
  background-color: transparent;
  background-image: none;
}

/* line 251, google_menu_live.sass */
.gbg4a {
  font-size: 0;
  line-height: 0;
}
/* line 254, google_menu_live.sass */
.gbg4a .gbts {
  padding: 27px 5px 0;
  *padding: 25px 5px 0;
}

/* line 258, google_menu_live.sass */
.gbto .gbg4a .gbts {
  padding: 29px 5px 1px;
  *padding: 27px 5px 1px;
}

/* line 262, google_menu_live.sass */
#gbi4i, #gbi4id {
  left: 5px;
  border: 0;
  height: 24px;
  position: absolute;
  top: 1px;
  width: 24px;
}

/* line 271, google_menu_live.sass */
.gbto #gbi4i, .gbto #gbi4id {
  top: 3px;
}

/* line 274, google_menu_live.sass */
.gbi4p {
  display: block;
  width: 24px;
}

/* line 278, google_menu_live.sass */
#gbi4id, #gbmpid {
  background: url(//ssl.gstatic.com/gb/images/h_bedf916a.png);
  _background: url(//ssl.gstatic.com/gb/images/h8_3dd87cd8.png);
}

/* line 282, google_menu_live.sass */
#gbi4id {
  background-position: -29px -54px;
}

/* line 285, google_menu_live.sass */
#gbmpid {
  background-position: -58px 0px;
}

/* line 288, google_menu_live.sass */
#gbmpi, #gbmpid {
  border: none;
  display: inline-block;
  margin: 10px 20px;
  height: 48px;
  width: 48px;
}

/* line 295, google_menu_live.sass */
#gbmpi, #gbmpid {
  *display: inline;
}

/* line 298, google_menu_live.sass */
#gbg5 {
  font-size: 0;
}

/* line 301, google_menu_live.sass */
#gbgs5 {
  padding: 5px !important;
}

/* line 304, google_menu_live.sass */
.gbto #gbgs5 {
  padding: 7px 5px 6px !important;
}

/* line 307, google_menu_live.sass */
#gbi5 {
  background: url(//ssl.gstatic.com/gb/images/h_bedf916a.png);
  _background: url(//ssl.gstatic.com/gb/images/h8_3dd87cd8.png);
  background-position: 0 0;
  display: block;
  font-size: 0;
  height: 17px;
  width: 16px;
}

/* line 316, google_menu_live.sass */
.gbto #gbi5 {
  background-position: -6px -22px;
}

/* line 319, google_menu_live.sass */
.gbn .gbmt, .gbnd .gbmt {
  color: #dd8e27 !important;
}
/* line 321, google_menu_live.sass */
.gbn .gbmt:visited, .gbnd .gbmt:visited {
  color: #dd8e27 !important;
}

/* line 324, google_menu_live.sass */
.gbf .gbmt {
  color: #990000 !important;
}
/* line 326, google_menu_live.sass */
.gbf .gbmt:visited {
  color: #990000 !important;
}

/* line 329, google_menu_live.sass */
.gbmt, .gbml1, .gbmt:visited, .gbml1:visited {
  color: #3366cc !important;
  text-decoration: none !important;
}

/* line 333, google_menu_live.sass */
.gbmt {
  display: block;
}
/* line 335, google_menu_live.sass */
.gbmt:visited {
  display: block;
}

/* line 338, google_menu_live.sass */
.gbml1 {
  display: inline-block;
  margin: 0 10px;
  padding: 0 10px;
  *display: inline;
}
/* line 342, google_menu_live.sass */
.gbml1:visited {
  display: inline-block;
  margin: 0 10px;
  padding: 0 10px;
}

/* line 348, google_menu_live.sass */
.gbml1-hvr, .gbml1:focus {
  background: #eff3fb;
  outline: none;
}

/* line 353, google_menu_live.sass */
#gbpm .gbml1 {
  display: inline;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 358, google_menu_live.sass */
#gbpm .gbml1-hvr, #gbpm .gbml1:focus {
  background: none;
  text-decoration: underline !important;
}

/* line 362, google_menu_live.sass */
.gbmt {
  padding: 0 20px;
}

/* line 365, google_menu_live.sass */
.gbmt-hvr, .gbmt:focus {
  background: #eff3fb;
  cursor: pointer;
  outline: 0 solid black;
  text-decoration: none !important;
}

/* line 371, google_menu_live.sass */
.gbm0l {
  color: black !important;
  font-weight: bold;
}
/* line 374, google_menu_live.sass */
.gbm0l:visited {
  color: black !important;
  font-weight: bold;
}

/* line 378, google_menu_live.sass */
.gbmh {
  border-top: 1px solid #e5e5e5;
  font-size: 0;
  margin: 10px 0;
}

/* line 383, google_menu_live.sass */
#gbd4 .gbmh {
  margin: 0;
}

/* line 386, google_menu_live.sass */
.gbmtc {
  padding: 0;
  margin: 0;
  line-height: 27px;
}

/* line 391, google_menu_live.sass */
.GBMCC:last-child:after, #GBMPAL:last-child:after {
  content: "\0A\0A";
  white-space: pre;
  position: absolute;
}

/* line 396, google_menu_live.sass */
#gbd4 .gbpc, #gbmpas .gbmt {
  line-height: 17px;
}

/* line 399, google_menu_live.sass */
#gbd4 .gbpgs .gbmtc {
  line-height: 27px;
}

/* line 402, google_menu_live.sass */
#gbmpas .gbmt {
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 406, google_menu_live.sass */
#gbmple .gbmt, #gbmpas .gbmt {
  font-size: 15px;
}

/* line 409, google_menu_live.sass */
#gbd4 .gbpc {
  display: inline-block;
  margin: 6px 0 10px;
  margin-right: 50px;
  vertical-align: top;
  *display: inline;
}

/* line 417, google_menu_live.sass */
.gbpc .gbps, .gbpc .gbps2 {
  display: block;
  margin: 0 20px;
}

/* line 421, google_menu_live.sass */
#gbmplp.gbps {
  margin: 0 10px;
}

/* line 425, google_menu_live.sass */
.gbpc .gbps {
  color: black;
  font-weight: bold;
}
/* line 428, google_menu_live.sass */
.gbpc .gbps2 {
  font-size: 13px;
}
/* line 430, google_menu_live.sass */
.gbpc .gbpd {
  margin-bottom: 5px;
}

/* line 433, google_menu_live.sass */
.gbpd .gbmt, .gbmpmtd .gbmt {
  color: #666666 !important;
}

/* line 436, google_menu_live.sass */
.gbmpme, .gbps2 {
  color: #666666;
  display: block;
  font-size: 11px;
}

/* line 441, google_menu_live.sass */
.gbp0 .gbps2, .gbmpmta .gbmpme {
  font-weight: bold;
}

/* line 444, google_menu_live.sass */
#gbmpp {
  display: none;
}

/* line 447, google_menu_live.sass */
#gbd4 .gbmcc {
  margin-top: 5px;
}

/* line 450, google_menu_live.sass */
.gbpmc {
  background: #edfeea;
}
/* line 452, google_menu_live.sass */
.gbpmc .gbmt {
  padding: 10px 20px;
}

/* line 455, google_menu_live.sass */
#gbpm {
  *border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  white-space: normal;
}
/* line 460, google_menu_live.sass */
#gbpm .gbmt {
  border-top: none;
  color: #666666 !important;
  font: 11px Arial, sans-serif;
}

/* line 465, google_menu_live.sass */
#gbpms {
  *white-space: nowrap;
}

/* line 468, google_menu_live.sass */
.gbpms2 {
  font-weight: bold;
  white-space: nowrap;
}

/* line 472, google_menu_live.sass */
#gbmpal {
  *border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  white-space: nowrap;
}

/* line 478, google_menu_live.sass */
.gbmpala, .gbmpalb {
  font: 13px Arial, sans-serif;
  line-height: 27px;
  padding: 10px 20px 0;
  white-space: nowrap;
}

/* line 484, google_menu_live.sass */
.gbmpala {
  padding-left: 0;
  text-align: left;
}

/* line 488, google_menu_live.sass */
.gbmpalb {
  padding-right: 0;
  text-align: right;
}

/* line 492, google_menu_live.sass */
.gbp0 .gbps, .gbmpmta .gbmpmn {
  color: black;
  display: inline-block;
  font-weight: bold;
  padding-right: 34px;
  position: relative;
}

/* line 499, google_menu_live.sass */
.gbp0 .gbps, .gbmpmta .gbmpmn {
  *display: inline;
}

/* line 502, google_menu_live.sass */
.gbmpmtc, .gbp0i {
  background: url(//ssl.gstatic.com/gb/images/h_bedf916a.png);
  _background: url(//ssl.gstatic.com/gb/images/h8_3dd87cd8.png);
  background-position: 0 -54px;
  position: absolute;
  height: 21px;
  width: 24px;
  right: 0;
  top: -3px;
}

/* line 512, google_menu_live.sass */
#gbd1 .gbmc, #gbd3 .gbmc {
  padding: 0;
}

/* line 515, google_menu_live.sass */
#gbgs1 {
  padding-top: 0;
  text-align: center;
}

/* line 519, google_menu_live.sass */
.gbto #gbi1 {
  padding-top: 2px;
}

/* line 522, google_menu_live.sass */
#gbi1 {
  color: white;
  display: block;
  font-size: 11px;
  font-weight: bold;
  position: relative;
  width: 21px;
}

/* line 530, google_menu_live.sass */
#gbi1c {
  bottom: -4px;
  color: white;
  display: block;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  width: 21px;
  -moz-transition-property: bottom;
  -moz-transition-duration: 0;
  -o-transition-property: bottom;
  -o-transition-duration: 0;
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 0;
}

/* line 545, google_menu_live.sass */
#gbi1a {
  background: url(//ssl.gstatic.com/gb/images/h_bedf916a.png);
  _background: url(//ssl.gstatic.com/gb/images/h8_3dd87cd8.png);
  background-position: 0 -274px;
  overflow: hidden;
  position: absolute;
  right: 5px;
  top: 3px;
  height: 20px;
  width: 21px;
}

/* line 556, google_menu_live.sass */
.gbto #gbi1a {
  _background-position: -52px -274px;
}

/* line 559, google_menu_live.sass */
#gbi1a.gbid {
  background-position: -26px -274px;
}

/* line 562, google_menu_live.sass */
.gbto #gbi1a.gbid {
  _background-position: -78px -274px;
}

/* line 565, google_menu_live.sass */
#gbi1.gbids {
  color: #999999;
}

/* line 568, google_menu_live.sass */
.gbto #gbi1a {
  top: 5px;
}

/* line 571, google_menu_live.sass */
#gbg3 .gbts {
  line-height: 20px;
}

/* line 574, google_menu_live.sass */
.gbgsc {
  padding-bottom: 7px;
  position: relative;
  top: 3px;
}

/* line 579, google_menu_live.sass */
.gbgsca, .gbgscb {
  background: url(//ssl.gstatic.com/gb/images/h_bedf916a.png) no-repeat;
  _background: url(//ssl.gstatic.com/gb/images/h8_3dd87cd8.png) no-repeat;
  height: 20px;
  position: absolute;
  top: 0;
  width: 3px;
}

/* line 587, google_menu_live.sass */
.gbgsca {
  left: 0;
  background-position: 0 -300px;
}

/* line 591, google_menu_live.sass */
.gbgscb {
  right: 0;
  background-position: -153px -300px;
}

/* line 595, google_menu_live.sass */
.gbgsb {
  background: url(//ssl.gstatic.com/gb/images/h_bedf916a.png);
  _background: url(//ssl.gstatic.com/gb/images/h8_3dd87cd8.png);
  background-position: -3px -300px;
  height: 20px;
  right: 3px;
  left: 3px;
  position: absolute;
  top: 0;
}

/* line 605, google_menu_live.sass */
.gbgss {
  padding: 0 6px;
  visibility: hidden;
}

/* line 609, google_menu_live.sass */
.gbgst {
  color: #666666;
  padding-right: 5px;
  padding-left: 3px;
}

/* line 614, google_menu_live.sass */
.gbgsta {
  color: #666666;
  padding-right: 5px;
  padding-left: 3px;
  display: none;
}

/* line 621, google_menu_live.sass */
.gbto .gbgsb, .gbto .gbgsca, .gbto .gbgscb {
  background: none;
}
/* line 623, google_menu_live.sass */
.gbto .gbgst {
  display: none;
}

/* line 626, google_menu_live.sass */
.gbgsc, .gbgst, .gbto .gbgsta {
  display: inline-block;
}

/* line 629, google_menu_live.sass */
.gbgsc, .gbgst, .gbto .gbgsta {
  *display: inline;
}

/* line 632, google_menu_live.sass */
#gbns {
  display: none;
}

/* line 635, google_menu_live.sass */
.gbmwc {
  right: 0;
  position: absolute;
  top: -999px;
  width: 440px;
  z-index: 1000;
}

/* line 642, google_menu_live.sass */
#gbwc {
  right: 0;
  position: absolute;
  top: -999px;
  width: 440px;
  z-index: 1000;
}
/* line 648, google_menu_live.sass */
#gbwc.gbmwca {
  top: 0;
}

/* line 651, google_menu_live.sass */
#gbmpi, #gbmpid {
  margin-right: 0;
  height: 96px;
  width: 96px;
}

/* line 656, google_menu_live.sass */
.gbmsg {
  display: none;
  position: absolute;
  top: 0;
}

/* line 661, google_menu_live.sass */
.gbmsgo .gbmsg {
  display: block;
  background: white;
  width: 100%;
  text-align: center;
  z-index: 3;
  top: 30%;
}

/* line 669, google_menu_live.sass */
#gbd1 {
  width: 440px;
  height: 190px;
}
/* line 672, google_menu_live.sass */
#gbd1 .gbmc {
  width: 440px;
  height: 190px;
}

/* line 676, google_menu_live.sass */
#gbd3 {
  width: 440px;
  height: 8em;
}
/* line 679, google_menu_live.sass */
#gbd3 .gbmc {
  width: 440px;
  height: 8em;
}
