/* line 11, style.sass */
#nothing {
  width: 0;
}

/* line 14, html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 24, html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 33, html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 35, html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 37, html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 39, html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 41, html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 45, html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 11, html5-boilerplate/_fonts.scss */
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 6px;
  *font-size: small;
}

/* line 18, html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% Arial, Helvetica, sans-serif;
}

/* line 22, html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
}

/* line 17, html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 26, html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
}

/* line 57, html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 62, html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 70, html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 71, html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 72, html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 73, html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 78, html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 85, html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
}

/* line 89, html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 100, html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #999999;
  color: white;
  text-shadow: none;
}

/* line 101, html5-boilerplate/_styles.scss */
::selection {
  background: #999999;
  color: white;
  text-shadow: none;
}

/* line 106, html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #999999;
}

/* line 117, html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 119, html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 124, html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, partials/_layout.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 26, partials/_layout.sass */
body {
  width: 100%;
  background-color: white;
}

/* line 30, partials/_layout.sass */
.clearheader, .clearfooter {
  clear: both;
}

/* line 33, partials/_layout.sass */
#topwrap {
  width: 100%;
  color: white;
  background: #cccccc;
}
/* line 38, partials/_layout.sass */
#topwrap a:hover {
  background-color: silver;
  cursor: pointer;
  text-decoration: none !important;
}

/* line 43, partials/_layout.sass */
#mainwrap {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* line 48, partials/_layout.sass */
#main, #mainwrapper {
  width: 100%;
}
/* line 51, partials/_layout.sass */
#main .maincontents b, #mainwrapper .maincontents b {
  font-weight: 400;
}
/* line 53, partials/_layout.sass */
#main .maincontents .centered, #mainwrapper .maincontents .centered {
  min-width: 950px;
  text-align: left;
  width: 100%;
}
/* line 57, partials/_layout.sass */
#main .maincontents h2 b, #mainwrapper .maincontents h2 b {
  font-weight: 700;
}

/* line 60, partials/_layout.sass */
#background {
  width: 100%;
}

/* line 63, partials/_layout.sass */
.searchwrapper {
  padding-left: 0;
  clear: both;
  text-align: left;
}

/* line 68, partials/_layout.sass */
#pageheader {
  background-color: whitesmoke;
  height: 30px;
  position: static;
  white-space: normal;
  padding: 0;
}

/* line 76, partials/_layout.sass */
#pageheader .text {
  color: #dd4b39;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 8px 4px 4px 10px;
}

/* line 84, partials/_layout.sass */
#main-content {
  width: 100%;
  padding: 0;
  text-align: left;
}

/* line 89, partials/_layout.sass */
#content {
  width: 100%;
  padding: 10px 0 0 10px;
}

/* line 95, partials/_layout.sass */
.centered {
  width: 100%;
}
/* line 97, partials/_layout.sass */
.centered .main-content-with-gutter-wrapper {
  margin-left: 190px;
}
/* line 99, partials/_layout.sass */
.centered .main-am2-pane {
  padding-left: 0;
  width: 100%;
}

/* line 103, partials/_layout.sass */
.pinning-enabled .centered .main-content-with-gutter-wrapper, .one-col-wrapper .main {
  margin-left: 190px;
  padding-right: 44px;
}

/* line 107, partials/_layout.sass */
.centered .main-content-with-gutter-wrapper, .one-col-wrapper .main {
  margin-left: 190px;
  padding-right: 44px;
}

/* line 111, partials/_layout.sass */
.maincontents .centered {
  text-align: left;
}

/* line 115, partials/_layout.sass */
.main-am2-pane {
  _width: 99%;
  overflow: hidden;
  table-layout: fixed;
}

/* line 122, partials/_layout.sass */
.lt-col {
  width: 100%;
}

/* line 125, partials/_layout.sass */
.nav-one-col-hp {
  left: 0;
  position: absolute;
}

/* line 129, partials/_layout.sass */
.centered .nav {
  width: 170px;
}

/* line 134, partials/_layout.sass */
#table-spacer-cell {
  width: 12px;
}

/* line 137, partials/_layout.sass */
.rt-present {
  padding-left: 12px;
  padding-right: 0;
}

/* line 141, partials/_layout.sass */
.rt-col {
  width: 310px;
}

/* line 144, partials/_layout.sass */
.rt-hidden {
  display: none;
  width: 0;
}

/* line 149, partials/_layout.sass */
.rhc-toggler-wrapper {
  position: relative;
}
/* line 151, partials/_layout.sass */
.rhc-toggler-wrapper .rhc-toggler {
  bottom: 10px;
  cursor: pointer;
  height: 17px;
  position: absolute;
  right: 0;
  width: 14px;
}

/* line 160, partials/_layout.sass */
.rhc-toggler .rhc-toggler-icon {
  height: 17px;
  width: 14px;
}
/* line 163, partials/_layout.sass */
.rhc-toggler .expanded {
  background-position: -172px -76px;
}
/* line 165, partials/_layout.sass */
.rhc-toggler .collapsed {
  background-position: -156px -76px;
}

/* line 169, partials/_layout.sass */
.always-expanded {
  position: relative;
}

/* line 172, partials/_layout.sass */
.always-expanded .blended-image {
  width: 105px;
}
/* line 174, partials/_layout.sass */
.always-expanded .blended-image .thumbnail {
  width: 105px;
}

/* line 11, partials/_fonts.sass */
body, select, input, textarea {
  color: #333333;
  font-family: arial, sans-serif;
  font-size: 84%;
  line-height: 1.3em;
}

/* line 19, partials/_fonts.sass */
select {
  font-size: 100%;
}

/* line 23, partials/_fonts.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333333;
  margin-bottom: 0.429em;
}

/* line 30, partials/_fonts.sass */
h1 {
  font-size: 2em;
  line-height: 1.286em;
  margin-bottom: 0.214em;
  color: #999999;
}

/* line 35, partials/_fonts.sass */
h5, h6 {
  font-style: italic;
}

/* line 39, partials/_fonts.sass */
a, a:active, a:visited {
  color: #333333;
}

/* line 42, partials/_fonts.sass */
.hover {
  text-decoration: none;
}

/* line 46, partials/_fonts.sass */
a:hover {
  text-decoration: none;
}

/* line 50, partials/_fonts.sass */
a, a:active, a:visited {
  text-decoration: underline;
}

/* line 53, partials/_fonts.sass */
strong, th {
  font-weight: bold;
}

/* Replaced -------------------------------------------------------------- */
/* line 3, partials/_other.sass */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* line 8, partials/_other.sass */
.clearhack {
  overflow: hidden;
}

/* line 12, partials/_other.sass */
.clearheader, .clearfooter {
  clear: both;
}

/* line 16, partials/_other.sass */
.date {
  white-space: nowrap;
}

/* line 19, partials/_other.sass */
.r {
  clear: both;
}

/* line 24, partials/_other.sass */
.a-text-decoration-none a {
  text-decoration: none;
}

/* line 28, partials/_other.sass */
a {
  color: #333333;
}

/* line 33, partials/_other.sass */
.esc-separator {
  background-color: whitesmoke;
  border-style: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  font-size: 0;
  height: 1px;
  margin: -6px 0;
  opacity: 0;
  position: relative;
}

/* line 45, partials/_other.sass */
.iconaudio {
  background-image: url("img/audio.png");
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  margin-bottom: -2px;
  margin-left: 20px;
  border: 0;
  height: 15px;
  width: 19px;
}

/* line 56, partials/_other.sass */
audio {
  margin-bottom: -5px;
  margin-left: 20px;
}

/* line 60, partials/_other.sass */
#mc_embed_signup {
  background: white;
  width: 350px;
  clear: left;
  font: 10px Helvetica, Arial, sans-serif;
}

/* line 1, partials/_topbar.sass */
#xbarwrap {
  background: black;
  font: 13px/27px Arial, sans-serif;
  height: 20px;
}

/* line 6, partials/_topbar.sass */
#xbarleft, #xbarright {
  height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  z-index: 1000;
}

/* line 13, partials/_topbar.sass */
#xbarleft {
  left: 0;
  padding-left: 4px;
}

/* line 17, partials/_topbar.sass */
#xbarright {
  padding-right: 5px;
  right: 0;
}

/* line 21, partials/_topbar.sass */
.xbartc {
  display: block;
  color: white !important;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 28, partials/_topbar.sass */
.xbar {
  display: inline-block;
  line-height: 20px;
  padding: 0;
  position: relative;
  vertical-align: top;
}

/* line 35, partials/_topbar.sass */
.xbarwrap {
  position: relative;
  z-index: 1000;
  display: inline;
  background: black;
  color: white;
  padding-bottom: 1px;
  padding-top: 2px;
  font-weight: 500;
  padding-right: 9px;
}

/* line 46, partials/_topbar.sass */
.home_icon_link {
  float: left;
  font-size: 11px;
  height: 20px;
  padding: 0;
}

/* line 52, partials/_topbar.sass */
.home_icon_link a {
  border: 0;
  background: url(img/top_img_sprites.png) no-repeat scroll 0 0 transparent;
  color: white;
  display: block;
  height: 20px;
  padding: 0px 15px 0px 23px;
}

/* line 1, partials/_headerbar.sass */
#headerbar {
  background: none repeat scroll 0 0 whitesmoke;
  border-bottom: 1px solid #e5e5e5;
  height: 80px;
  overflow: hidden;
  position: relative;
}

/* line 9, partials/_headerbar.sass */
#logo {
  float: left;
}
/* line 11, partials/_headerbar.sass */
#logo .logo {
  background-color: whitesmoke;
  background-image: url("img/logo100x50.png");
  background-position: left center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  border: 0;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  margin-top: 7px;
  margin-left: 10px;
  width: 100px;
}
/* line 27, partials/_headerbar.sass */
#logo h1 {
  margin-top: 7px;
  margin-left: 10px;
  color: #333333;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5ex;
}

/* line 35, partials/_headerbar.sass */
#donate {
  display: block;
  height: 38px;
  overflow: hidden;
  position: absolute;
  right: 13px;
  top: 0;
  width: 200px;
}

/* line 44, partials/_headerbar.sass */
.tooltip {
  background: url("img/black_arrow_bottom.png") repeat scroll 0 0 transparent;
  color: #f3f6e9;
  display: none;
  font-size: 14px;
  height: 70px;
  padding: 35px 25px 25px;
  width: 160px;
  z-index: 9000;
}
/* line 53, partials/_headerbar.sass */
.tooltip a {
  color: #dd4b39;
}
/* line 55, partials/_headerbar.sass */
.tooltip a:hover {
  text-decoration: none;
}
/* line 59, partials/_headerbar.sass */
.tooltip a, .tooltip a:active, .tooltip a:visited {
  text-decoration: underline;
}

/* line 2, partials/_search.sass */
#search {
  left: 180px;
  max-width: 75%;
  position: absolute;
  top: 20px;
}

/* line 8, partials/_search.sass */
.searchfld {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: white;
  border-color: #999999;
  border-right: 1px solid #999999;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 29px;
  line-height: 27px;
  padding-left: 8px;
  vertical-align: top;
  margin-right: 16px;
  font-family: arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 2px 8px 0 6px;
  width: 330px;
}

/* line 32, partials/_search.sass */
.buttonstandard {
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(center top, #999999, #999999);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #333333;
}

/* line 38, partials/_search.sass */
.button {
  border-radius: 2px 2px 2px 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  min-width: 54px;
  outline: 0 none;
  text-align: center;
}

/* line 50, partials/_search.sass */
.inlineblock {
  display: inline-block;
  position: relative;
}

/* line 54, partials/_search.sass */
#search .searchboxlinks {
  padding-right: 16px;
  padding-top: 2px;
}
/* line 58, partials/_search.sass */
#search .searchboxlinks a {
  color: #333333;
  border: 0;
}
/* line 62, partials/_search.sass */
#search .searchboxlinks a:hover {
  background-color: #999999;
  cursor: pointer;
  text-decoration: none !important;
}

/* line 69, partials/_search.sass */
.searchform input[type=submit] {
  background: #eeeeee;
  border: 1px solid #888888;
  font-weight: bold;
  font-size: 17px;
  color: #555555;
  width: 100px;
  height: 37px;
  margin-top: 3px;
}

/* line 4, partials/_biblewords.sass */
.results .vsct td {
  text-align: right;
  padding-right: 10px;
}
/* line 7, partials/_biblewords.sass */
.results .vsct table {
  width: 100%;
}
/* line 10, partials/_biblewords.sass */
.results .vsct .ct .ctversion {
  font-size: small;
  text-align: left;
  white-space: nowrap;
}
/* line 15, partials/_biblewords.sass */
.results .vsct .ct .ctvsno {
  text-align: right;
  font-weight: bold;
}
/* line 25, partials/_biblewords.sass */
.results .vstxt em {
  font-weight: bold;
  color: blue;
}

/* line 1, partials/_appbar.sass */
#appbar {
  position: relative;
  padding: 10px 10px 10px 10px;
}

/* line 5, partials/_appbar.sass */
.appname {
  color: #333333;
  font-size: 20px;
  line-height: 28px;
}

/* line 10, partials/_appbar.sass */
#pageheader {
  padding: 0;
  position: static;
  white-space: normal;
}

/* line 15, partials/_appbar.sass */
#pageheader img {
  border: none;
  margin-top: 0;
}

/* line 19, partials/_appbar.sass */
#pageheader .inheader {
  text-align: right;
}

/* line 22, partials/_appbar.sass */
#pageheader .appbar .inheader {
  display: block;
  position: absolute;
  text-align: left;
  top: 21px;
  width: 100%;
}

/* line 1, partials/_footer.sass */
#footer {
  line-height: normal;
  margin: 0;
  padding: 20px 0 20px 10px;
  text-align: left;
}

/* line 7, partials/_footer.sass */
#footer .links a {
  color: #333333;
}

/* line 10, partials/_footer.sass */
.footer-disclaimer {
  text-align: left;
  font-size: 10px;
}

/* line 1, partials/_versesgrid.sass */
.verses-grid {
  text-align: left;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 white;
  color: #2a2a2a;
  background: #fafafa;
}
/* line 10, partials/_versesgrid.sass */
.verses-grid td {
  line-height: 50px;
  padding: 4px 10px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
}
/* line 19, partials/_versesgrid.sass */
.verses-grid tbody td {
  font: normal 12px Verdana, Arial, Helvetica;
  vertical-align: middle;
  background: white;
  border-right: 0px solid white;
}
/* line 26, partials/_versesgrid.sass */
.verses-grid tbody .bookchapter td {
  background: #eeeeee;
}
/* line 30, partials/_versesgrid.sass */
.verses-grid .biblelanguage td {
  font: bold 1em "trebuchet MS", "Lucida Sans", Arial;
}
/* line 33, partials/_versesgrid.sass */
.verses-grid .biblelanguage td:first-child {
  border-top: none;
}
/* line 37, partials/_versesgrid.sass */
.verses-grid .bversion {
  font-size: small;
  text-align: left;
  white-space: nowrap;
}
/* line 43, partials/_versesgrid.sass */
.verses-grid .bookchapter td {
  font-size: 14px;
  font: bold 1em "trebuchet MS", "Lucida Sans", Arial;
}
/* line 48, partials/_versesgrid.sass */
.verses-grid .vs a {
  font-weight: normal;
  text-decoration: none;
}
/* line 51, partials/_versesgrid.sass */
.verses-grid .vs a:hover {
  background: whitesmoke;
  text-decoration: underline;
}
/* line 54, partials/_versesgrid.sass */
.verses-grid .vs td {
  text-align: left;
  background: white;
}
/* line 57, partials/_versesgrid.sass */
.verses-grid .vs sup {
  margin-right: 3px;
  font-weight: bold;
}
/* line 61, partials/_versesgrid.sass */
.verses-grid .vs span {
  font-size: 14px;
  font: bold 1em "trebuchet MS", "Lucida Sans", Arial;
}
/* line 65, partials/_versesgrid.sass */
.verses-grid .biblecopyright td {
  font-size: 10px;
}
/* line 68, partials/_versesgrid.sass */
.verses-grid .ctsversionname {
  display: none;
}
/* line 72, partials/_versesgrid.sass */
.verses-grid tfoot td {
  font: bold 1.4em Georgia;
}
/* line 75, partials/_versesgrid.sass */
.verses-grid tfoot td:first-child {
  border-bottom: none;
}
