{% load i18n ifsetting_tag account_tags %}
{% load participation_tags %}
{% load meta_tags %}
{% load static %}

<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="dropdown">
          <a href="/" title="Foreign Language Territory System">Foreign Language Territory System (FLT)</a>
        </li>
        {% page_links 't' %}
      </ul>
      <ul class="nav secondary-nav">
      {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">{% user_display user %}</a>
          <ul class="dropdown-menu">
            <li><a href="{% url profile_detail user.username %}">{% trans "Your Profile" %}</a></li>
            <li><a href="{% url profile_list %}">{% trans "The Community" %}</a></li>
            
            {% if user.is_staff %}<li><a href="{% url admin:index %}">{% trans "Admin" %}</a></li>{% endif %}
            <li><a href="{% url acct_logout %}">{% trans "Logout" %}</a></li>
          </ul>
        </li>
      {% else %}
        <li>{% url acct_login as acct_login_url %}</li>
        <li></li>{% url acct_signup as acct_signup_url %}
      {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% blocktrans with request.path as request_path %}<li><a href="{{ acct_login_url }}?next={{ request_path }}">Log in</a></li>
            <li><a href="{{ acct_signup_url }}">Sign up</a></li>{% endblocktrans %}
      {% else %}
            {% blocktrans with request.path as request_path %}<li><a href="{{ acct_login_url }}?next={{ request_path }}">Log in</a></li>{% endblocktrans %}
      {% endifsetting %}
    {% endif %}
    </ul>
    </div>
  </div>
</div>


