<!DOCTYPE html>
<html>
<head>
<!-- http://blog.geotitles.com/2011/09/creating-the-new-top-black-bar-found-in-google-and-all-its-products/ -->
<title>Creating Google Plus Top Black Menu Bar Live Demo | http://blog.geotitles.com</title>
<noscript><br>Your browser must support javascript.</br></noscript>

<script type="text/javascript" src="static/js/jquery-1.6.2.min.js"></script>
<link type="text/css" rel="stylesheet" media="all" href="static/css/google_menu_live.css" />



<script>
        $('document').ready(function(){
            $('.menu').fixedMenu();
        });
        </script>
</head>
<body>
  <div id="onegoogbar" class="onegpad">
    <div id="gb">
      <script type="text/javascript">
//<![CDATA[
      window.gbar&&gbar.eli&&gbar.eli()
      //]]>
      </script>

      <div id="gbw">
        <div id="gbz">
          <ol class="gbtc">
            <li class="gbt"><a target="_blank" onclick="gbar.logger.il(1,{t:23});" class=
            "gbzt" id="gb_23" href="https://mail.google.com/mail/?tab=cm" name=
            "gb_23"><span class="gbts">Mail</span></a></li>

            <li class="gbt"><a onclick="gbar.logger.il(1,{t:24});" class=
            "gbzt gbz0l gbp1" id="gb_24" href="https://www.google.com/calendar?tab=cc"
            name="gb_24"><span class="gbts">Calendar</span></a></li>

            <li class="gbt"><a target="_blank" onclick="gbar.logger.il(1,{t:25});" class=
            "gbzt" id="gb_25" href="https://docs.google.com/?tab=co&amp;authuser=0" name=
            "gb_25"><span class="gbts">Documents</span></a></li>

            <li class="gbt"><a target="_blank" onclick="gbar.logger.il(1,{t:38});" class=
            "gbzt" id="gb_38" href="https://sites.google.com/?tab=c3" name=
            "gb_38"><span class="gbts">Sites</span></a></li>

            <li class="gbt">
              <a class="gbgt" id="gbztm" href="http://www.google.com/intl/en/options/"
              onclick="gbar.tg(event,this)" aria-haspopup="true" aria-owns="gbd" name=
              "gbztm"><span id="gbztms" class="gbts gbtsa"><span id=
              "gbztms1">More</span></span></a>

              <div class="gbm" id="gbd" aria-owner="gbztm">
                <div class="gbmc">
                  <ol class="gbmcc">
                    <li class="gbmtc"><span id="gbli" class="gbmt">Loading...</span></li>

                    <li class="gbmtc"><a target="_blank" onclick=
                    "gbar.logger.il(1,{t:91});" id="gb_91" href=
                    "http://www.google.com/enterprise/marketplace" class="gbmt" name=
                    "gb_91">Find more services</a></li>

                    <li class="gbmtc">
                      <div class="gbmt gbmh"></div>
                    </li>

                    <li class="gbmtc"><a target="_blank" onclick=
                    "gbar.logger.il(1,{t:66});" href=
                    "http://www.google.com/intl/en/options/" class="gbmt">Even more
                    &Atilde;&sbquo;&Acirc;&raquo;</a></li>
                  </ol>
                </div>
              </div>
            </li>
          </ol>
        </div>

        <div id="gbg">
          <h2 class="gbxx">Account Options</h2>

          <ol class="gbtc">
            <li class="gbt">
              <a class="gbgt" id="gbg4" href="//google.com/profiles" onclick=
              "gbar.tg(event,this)" aria-haspopup="true" aria-owns="gbd4" name=
              "gbg4"><span id="gbgs4" class="gbts gbtsa"><span id="gbi4"><span id=
              "gbi4m1">larry@eitel.com</span></span></span></a>

              <div class="gbm" id="gbd4" aria-owner="gbg4">
                <div class="gbmc">
                  <div id="gbmpdv">
                    <div class="gbpc">
                      <span id="gbmpn" class="gbps" onclick=
                      "gbar.logger.il(10,{t:69})">Larry Eitel</span><span class=
                      "gbps2">larry@eitel.com</span>

                      <ol class="gbmcc">
                        <li class="gbmtc"><a target="_blank" id="gbmplp" onclick=
                        "gbar.logger.il(10,{t:146})" href=
                        "https://profiles.google.com/?hl=en&amp;tab=h" class="gbml1 gbp1"
                        name="gbmplp">Profile</a></li>

                        <li class="gbmtc"><a target="_blank" id="gb_156" onclick=
                        "gbar.logger.il(10,{t:156})" href=
                        "https://accounts.google.com/b/0/ManageAccount" class="gbml1"
                        name="gb_156">Account settings</a></li>

                        <li class="gbmtc"><a target="_blank" onclick=
                        "gbar.logger.il(10,{t:156})" href=
                        "http://www.google.com/intl/en/privacy/" class=
                        "gbml1">Privacy</a></li>
                      </ol>
                    </div>

                    <div class="gbpmc">
                      <table id="gbpm">
                        <tbody>
                          <tr>
                            <td class="gbmt"><span id="gbpms">This account is managed by
                            <span class="gbpms2">eitel.com</span>.</span> <a target=
                            "_blank" class="gbml1" href=
                            "http://www.google.com/support/accounts/bin/answer.py?answer=181692&amp;hl=en">
                            Learn more</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="gbmh"></div>

                    <table id="gbmpal">
                      <tbody>
                        <tr>
                          <td class="gbmpala"><a id="gb_71" onclick=
                          "gbar.logger.il(9,{l:'o'})" href="logout" class="gbml1" name=
                          "gb_71">Sign out</a></td>

                          <td class="gbmpalb"><a class="gbml1" id="gbmp2" onclick=
                          "gbar.logger.il(10,{t:147});return false" href=
                          "javascript:void(0)" name="gbmp2">Switch account</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div id="gbmps">
                    <a href="javascript:void(0)" id="gbmpsb" class="gbmt" name=
                    "gbmpsb">&Atilde;&cent;&acirc;&sbquo;&not;&Acirc;&sup1; Back</a>

                    <div id="gbmpas">
                      <div id="gbmpm_0" class="gbmtc gbp0">
                        <a id="gbmpm_0_l" onclick="gbar.logger.il(10,{t:69})" href=
                        "/calendar/b/0/render?gsessionid=5fpDWi5x2WPSWbc0TRfgpQ&amp;authuser=0"
                        class="gbmt" name="gbmpm_0_l"><span class="gbps">Larry
                        Eitel</span><span class="gbps2">larry@eitel.com</span></a>
                      </div>
                    </div>

                    <ol class="gbmcc gbpgs">
                      <li class="gbmtc"><a target="_blank" href=
                      "https://accounts.google.com/AddSession?service=cl&amp;continue=https://www.google.com/calendar/render?gsessionid%3D5fpDWi5x2WPSWbc0TRfgpQ"
                      class="gbmt">Sign in to another
                      account&Atilde;&cent;&acirc;&sbquo;&not;&Acirc;&brvbar;</a></li>

                      <li class="gbmtc"><a id="gb_71" href="logout" class="gbmt" name=
                      "gb_71">Sign out of all accounts</a></li>
                    </ol>
                  </div>
                </div>
              </div>
            </li>

            <li class="gbt gbtb">
              <noscript>&lt;li class=gbt&gt;&lt;a class=gbgt href="logout"&gt;&lt;span
              class=gbtb2&gt;&lt;/span&gt;&lt;span class=gbts&gt;Sign
              out&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;&lt;li class="gbt gbtb"&gt;&lt;span
              class=gbts&gt;&lt;/span&gt;&lt;/li&gt;</noscript>
            </li>

            <li class="gbt">
              <a class="gbgt" id="gbg5" href="http://www.google.com/preferences?hl=en"
              title="Options" onclick="gbar.tg(event,this)" aria-haspopup="true"
              aria-owns="gbd5" name="gbg5"><span id="gbgs5" class="gbts"><span id=
              "gbi5"></span></span></a>

              <div class="gbm" id="gbd5" aria-owner="gbg5">
                <div class="gbmc">
                  <ol id="gbom" class="gbmcc">
                    <li class="gbkc gbmtc"><a target="_self" class="gbmt" href=
                    "javascript:void(_GenSettings())">Calendar settings</a></li>

                    <li class="gbkc gbmtc"><a target="_blank" class="gbmt" href=
                    "http://www.google.com/support/a/users/bin/topic.py?topic=10101&amp;hl=en">
                    Calendar help</a></li>

                    <li class="gbmtc">
                      <div class="gbmt gbmh"></div>
                    </li>

                    <li class="gbe gbmtc" id="labs-link"><a href="javascript:void(0)"
                    class="gbmt"><span class="og-lk">Labs</span></a></li>

                    <li class="gbe gbmtc" id="opt-in-out-skin"><a href="render?skin=0"
                    class="gbmt">Use the classic look</a></li>

                    <li class="gbe gbmtc" id="offline-link"><a href="javascript:void(0)"
                    class="gbmt"><span class="og-lk">Offline</span></a><a class=
                    "goog-offlinestatus goog-offlinestatus-installed goog-offline-inline-block"
                    href="#" title=""><span>&nbsp;&nbsp;&nbsp;</span></a></li>
                  </ol>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>

      <div id="gbx3"></div>

      <div id="gbx4"></div><script type="text/javascript">
//<![CDATA[
      window.gbar&&gbar.elp&&gbar.elp()
      //]]>
      </script>
    </div><script id="gbaljs" type="text/javascript">
</script>
  </div>
</body>
</html>