{% extends "registration/base.html" %}
{% load i18n adminmedia %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
<h1>{% trans 'Password change' %}</h1>
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

{% if form.errors %}
  	<p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
{% endif %}
<form action="" method="post">{% csrf_token %}
	<fieldset class="changePassword">
		<legend>Password Change</legend>
		<p>
		    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>
		    {% if form.old_password.errors %} <p class="failureNotification">{{ form.old_password.errors.as_text }}</p>{% endif %}
		    {{ form.old_password }}
		</p>
		
		<p>
		    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>
		    {% if form.new_password1.errors %} <p class="failureNotification">{{ form.new_password1.errors.as_text }}</p>{% endif %}
		    {{ form.new_password1 }}
		</p>
		
		<p>
		    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>
		    {% if form.new_password2.errors %} <p class="failureNotification">{{ form.new_password2.errors.as_text }}</p>{% endif %}
		    {{ form.new_password2 }}
		</p>
	
	</fieldset>
	
	<p class="submitButton">
	    <input type="submit" value="{% trans 'Change my password' %}" class="default" />
	</p>
	
	<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>


{% endblock %}
